.text{
    -fx-font-size: 16px;
    -fx-font-family: Consolas;
}

.button {
    -fx-font-size: 14px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-pref-height: 50px;
}

.text-area,
.text-field {
    -fx-font-size: 14px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
}

.text-area{
    -fx-font-size: 14px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-pref-height: 100px;
}

.button:hover,
.text-area:hover,
.text-field:hover,
.combo-box:hover{
    -fx-background-color: #a8f0ce;
}

.button:focused,
.text-area:focused,
.text-field:focused,
.combo-box:focused{
    -fx-background-color: #bca8f0;
}

.combo-box .combo-box-popup .list-cell {
    -fx-background-color: White;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #a8f0ce;
    -fx-text-fill: Black;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: #9873f5;
    -fx-text-fill: Black;
}

.scroll-bar:vertical {
    -fx-pref-width: 17;
    -fx-border-color: Black;
    -fx-background-color: White;
}
.scroll-bar:vertical .thumb {
    -fx-border-color: Black;
    -fx-background-color: Black;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow{
    -fx-border-color: Black;
    -fx-background-color: Transparent;
}
 {
    -fx-border-color: Black;
    -fx-background-color: Transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 10;
    -fx-border-color: White;
    -fx-background-color: Black;
}
.scroll-bar:horizontal .thumb {
    -fx-border-color: White;
    -fx-background-color: Black;
}
.scroll-bar:horizontal .increment-button {
    -fx-progress-color: White;
    -fx-border-color: Transparent;
    -fx-background-color: Black;
}
.scroll-bar:horizontal .decrement-button {
    -fx-border-color: Transparent;
    -fx-background-color: Black;
}

.scroll-bar .increment-arrow{
    -fx-border-color: White;
}
.scroll-bar .decrement-arrow{
    -fx-border-color: White;
}